<div
  style="
    background: url('https://media.istockphoto.com/id/1149011243/vector/horizontal-vector-illustration-of-an-empty-light-bluish-grey-grungy-textured-background.jpg?s=612x612&w=0&k=20&c=PBeWiCr8PlhqTcJMKkmvRwFVHmpcxMabI1jSVsoOH9U=')
      no-repeat;
    background-size: cover;
  "
>
<button onclick='window.location.replace("/")' style="position:fixed; top:5px;
  left: 20px;"><i class="fa fa-home" aria-hidden="true"></i></button>
  <article
    class="markdown-body entry-content container-lg"
    itemprop="text"
    style="font-weight: bold"
  >
    <br />
    <h1
      tabindex="-1"
      class="display-1 text-uppercase"
      style="
        font-weight: 1000;
        font-size: 50px;
        justify-content: center;
        color: rgb(144, 58, 58);
      "
    >
      Behavioural Interview Preparation
    </h1>
    <p dir="auto">
      Behavioural interviews are a critical part of the job interview process,
      particularly for programmers aspiring to secure their dream job.
      Surprisingly, many programmers tend to overlook the importance of
      behavioural interviews and fail to prepare for them adequately. It's vital
      to understand that behavioural interviews hold just as much significance
      as technical interviews.<br />
      In a behavioural interview, the interviewer assesses how you approach
      decision-making and handle challenging situations. This evaluation is
      crucial as it helps the interviewer determine whether you're the right fit
      for the company and the position. Therefore, investing time and effort
      into preparing for behavioural interviews is essential. Demonstrate your
      skills and abilities, and you'll be one step closer to securing your dream
      job!
      <br />

      <br />
      <img
        src="/behavioural.png"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 65%;
          height: 45%;
        "
      />
      <br />
      It's also a good idea to have at least one strong example of:
    </p>

    <ol>
      <li>An interesting technical problem you solved</li>
      <li>An interpersonal conflict you overcame</li>
      <li>A unique execution story about a past project</li>
      <li>Leadership or ownership</li>
      <li>A question about the company's product/business</li>
      <li>A question about the company's engineering strategy</li>
    </ol>
    <br />
  </article>
</div>
